/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
=============
MAIN ELEMENTS
=============
*/
<%-(rootcss||'body')%> { 
	background-color: #fff; 
	color: #000000;  /*202020*/
	margin:0px;
	padding:0px;
}
<%-(rootcss||'body')%>, 
<%-rootcss%> p, 
<%-rootcss%> ol, 
<%-rootcss%> ul, 
<%-rootcss%> td {
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}
<%-rootcss%> pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
<%-rootcss%> a,
<%-rootcss%> .link { color: #426cc2; text-decoration:none; }
<%-rootcss%> a:visited { color: #426cc2; }
<%-rootcss%> a:hover { text-decoration:underline;}
<%-rootcss%> h1{
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:24px;
	margin:0;
	padding:0 0 19px 0;
	font-weight:normal;
}
<%-rootcss%> h2{
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:19px;
	margin:0px 0 0px 0;
	padding:0 0 15px 0;
	font-weight:bold;
}
<%-rootcss%> p {
	margin:0;
  padding:0 0 22px 0;
	line-height:1.4em;
}
<%-rootcss%> input,
<%-rootcss%> textarea {
  font-family: 'PT Sans', arial, helvetica, sans-serif;
	padding-left:3px;
}
<%-rootcss%> select {
  padding-top:2px;
  padding-bottom:2px;
}

/*
======================
HEADER AND TOP BUTTONS
======================
*/
<%-rootcss%> .xmain{
  width:100%;
	min-width:1024px;
  position:relative;
  display:inline-block;
}
/*
====
BODY
====
*/
<%-rootcss%> .xbody {
	padding-top:21px;
	padding-left:29px;
/*	min-height:300px;*/
  padding-bottom:30px;
}
<%-rootcss%> .xhead {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index:1;
  background-color:#31245d;
  background-image:url('<%-req.jshsite.publicurl%>images/top.png');
  background-repeat:repeat-x;
}
<%-rootcss%> .xhead.unfixed {
  position:relative;
}
<%-rootcss%> .bcrumbs { /* TODO */
  color:#777;
  font-size:14px;
	margin-left:1px;
	position:relative;
	top:-4px;
	padding-bottom:9px;
}
<%-rootcss%> .bcrumbs a{ /* TODO */
  color:#777;
  font-size:14px;
}
<%-rootcss%> .xtbl thead tr {
	background-color:#333333;
}
<%-rootcss%> .xtbl thead th {
	text-align:left;
	font-weight:normal;
	color:#ffffff;
	padding:2px 6px 1px 6px;
	border-right:1px solid #333333;
	border-left:1px solid #333333;
}
<%-rootcss%> .xtbl thead th a {
	color:#ffffff;
	display:block;
}
<%-rootcss%> .xtbl tbody tr.even {
	background-color:#f7f7f7;
}
<%-rootcss%> .xtbl tbody td {
	border-left:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	padding:3px 6px 3px 6px;
  vertical-align:text-top;
}
<%-rootcss%> .xtbl .xtbl_loadmore a {
	display:block;
	text-align:center;
	padding:4px;
	background-color:#f3f3f3;
	border:1px solid #aaaaaa;
}
<%-rootcss%> a.xtab,<%-rootcss%> a.xtab:visited{
  background-color:#dedede;
  color:#000000;
	padding:5px 15px;
	margin-right:1px;
	border-top:1px solid #333333;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
}
<%-rootcss%> a.xtab.selected{
  background-color:#333333;
  color:#ffffff;
	
}
<%-rootcss%> a.xtab.selected:hover{
	text-decoration:none;
}
<%-rootcss%> a.xtab.last{
	margin-right:0;
}
<%-rootcss%> a.xtab.disabled{
	background-color:#eeeeee;
	color:#cccccc;
}
<%-rootcss%> a.xtab.disabled:hover{
	text-decoration:none;
}
.xsubform.no-border > .xpanel {
  border:0;
}
<%-rootcss%> .xpanel {
	border-top:2px solid #333333;
	border-right:1px solid #333333;
	border-left:1px solid #333333;
	border-bottom:1px solid #333333;
	padding:10px;
  min-height:20px;
  display:table;
  box-sizing: border-box;
  width:100%;
}
<%-rootcss%> .xtabbody {
  display:none;
}
<%-rootcss%> .xtabbody.selected {
  display:block;
}

/***************************
CUSTOM CONTROL STYLES
***************************/
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_highlight { background-color:#ffff66; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_error { background-color:#ffb8b8; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_disabled,
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_disabled a { background-color:#ddd; color:#777; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_PREF { background-color:#c6d3ff; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_none { background-color:#ffffff; }

<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_green { background-color:#c2ffb8; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_yellow { background-color:#fffeb8; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_red { background-color:#ffb8b8; }
<%-rootcss%> .xmain .xtbl tbody tr.xgrid_row_gray { background-color:#cccccc; }

<%-rootcss%> .xform_button { border:1px solid transparent; }
<%-rootcss%> .xform_button.highlighted { background-color:yellow; border:1px dashed #666; }

/***************************
MENU STYLES
***************************/
<%-rootcss%> .xmenuhorizontal .xmenu {
	padding-top:34px;
	padding-left:370px;
  min-height:60px;
  z-index:3;
  position:relative;
}
<%-rootcss%> .xmenuhorizontal .xmenu a{
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
	font-size:15px;
	display:inline-block;
	padding:14px 8px 28px 8px;
	position:relative;
	margin-right:7px;
	margin-left:7px;
}
<%-rootcss%> .xmenuhorizontal .xmenu a:hover{
	text-decoration:underline;
}
<%-rootcss%> .xmenuhorizontal .xmenu a .bottom{
	display:none;
}
<%-rootcss%> .xmenuhorizontal .xmenu a.selected{
/*	color:#000000;*/
	background-image:url('<%-req.jshsite.publicurl%>images/menu_highlight_triangle.png');
	background-repeat:no-repeat;
	background-position:bottom center;
}
<%-rootcss%> .xmenuhorizontal .xmenu a.selected:hover{
	text-decoration:none;
}
<%-rootcss%> .xmenuhorizontal .xmenu a.selected .bottom{
	background-image:url('<%-req.jshsite.publicurl%>images/menu_highlight_bl.png');
	width:6px;
	height:10px;
	display:block;
	position:absolute;
	top:52px;
	left:-6px;
}
<%-rootcss%> .xmenuhorizontal .xmenu a.xmenu_more {
  display:none;
  position:absolute;
  right:0px;
  top:5px;
  padding:0 0 0 2px;
  background-image:url('<%-req.jshsite.publicurl%>images/menu_divider.png');
  background-repeat:repeat-y;
  margin-left:0px;
}
<%-rootcss%> .xmenuhorizontal .xmenu_more_bg {
  padding:43px 22px 18px 28px;
  background-position-y:-5px;
  background-repeat:repeat-x;
}
<%-rootcss%> .xmenuhorizontal a.xmenu_more img {
  position:relative;
  top:-1px;
  padding-left:4px;
}
<%-rootcss%> .xmenuhorizontal .xmenuside {
  display:none;
  position:absolute;
  top:84px;
  right:0px;
  z-index:9999;
}
<%-rootcss%> .xmenuhorizontal .xmenuside a{
  background-color:#31245d;
  background-image:url('<%-req.jshsite.publicurl%>images/menu_side_bg.png');
  text-align:center;
  height:26px;
  color:white;
  display:block;
  padding:6px 35px 0px 35px;
  font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#ffffff;
	text-decoration:none;
	font-size:15px;
}
<%-rootcss%> .xmenuhorizontal .xmenuside a:hover{
  text-decoration:underline;
}
<%-rootcss%> .xmenuhorizontal .xmenuside a.selected {
  color:#fff;
	background-image:none;
  height:25px;
  padding-top:7px;
}
/* SUBMENU */
<%-rootcss%> .xmenuhorizontal .xsubmenu{
	padding-left:26px;
  position:relative;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu div { display:inline-block; }
<%-rootcss%> .xmenuhorizontal .xsubmenu .head{
	font-weight:bold;
	padding-right:6px;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu a {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#202020;
	text-decoration:none;
  display:inline-block;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu a.selected {
  border-bottom:2px solid #777;
  padding-bottom:2px;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu a:hover {
	text-decoration:underline;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu a.selected:hover {
	text-decoration:none;
}
<%-rootcss%> .xmenuhorizontal .xsubmenu .xsubmenu_more {
  position:absolute;
  display:block;
  top:-8px;
  right:0px;
  padding:7px 29px 0 29px;
  background-color:#eeeeee;
  border-left:1px solid #777;
  border-right:1px solid #777;
  height:23px;
  z-index:2;
}
<%-rootcss%> .xmenuhorizontal .xsubmenuside {
  position:absolute;
  top:117px;
  right:0px;
  z-index:9998;
}
<%-rootcss%> .xmenuhorizontal .xsubmenuside a {
  background-color:#eeeeee;
  text-align:left;
  font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#202020;
	text-decoration:none;
  display:block;
  padding:6px 16px 5px 16px;
  font-size:13px;
  border-bottom:1px solid #777;
  border-right:1px solid #777;
  border-left:1px solid #777;
}
<%-rootcss%> .xmenuhorizontal .xsubmenuside a.selected {
	border-left:6px solid #777;
}
<%-rootcss%> .xmenuhorizontal .xsubmenuside a:hover {
	text-decoration:underline;
}
<%-rootcss%> .xmenuhorizontal .xsubmenuside a.selected:hover {
	text-decoration:none;
}

/*
================
PRINT STYLESHEET
================
*/
@media print {
  <%-rootcss%> .xtbl thead th { 
    color:#000000; 
    border:1px solid #000000;
  }
  <%-rootcss%> .xbody { padding:20px 0 0 15px; }
  <%-rootcss%> .xtbl thead th a { color:#000000; }
  <%-rootcss%> .xmenuhorizontal .xmenu { display:none !important; }
  <%-rootcss%> .xmenuhorizontal .xsubmenu { display:none !important; }
}