/*
Copyright 2017 apHarmony

This file is part of jsHarmony.

jsHarmony is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

jsHarmony is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this package.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
=============
MAIN ELEMENTS
=============
*/
<%-rootcss%> .hand { cursor:pointer; cursor:hand; }
<%-rootcss%> div.clear { clear:both; }
<%-rootcss%> .hidden { display:none !important; }
<%-rootcss%> a img {	border: none; }
<%-rootcss%> img a {	border:0; }
<%-rootcss%> .nofocus:focus { outline: none; }
<%-rootcss%> div.nobr { white-space:nowrap; display:inline-block; }
<%-rootcss%> .notextselect {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/*
====
BODY
====
*/
<%-rootcss%> .xbody {
	position:relative;
	display:inline-block;
}
<%-(rootcss||'body')%>.popup .xbody {
  display:block;
  padding-right:25px;
}
<%-rootcss%> .xactions {
	padding-bottom:15px;
	padding-left:15px;
	white-space: nowrap;
	display:inline-block;

}
<%-rootcss%> .xactions.top {
/*	position:absolute;*/
  position:relative;
	padding-bottom:0px;
	top:-5px;
	right:0px;
	float:right;
/*	left:638px;*/
}
<%-rootcss%> .xactions.auxtop {
	position:relative;
	top:-5px;
	/*right:-15px;  Commented, did not look good on ECALW */ 
	float:right;
	padding-bottom:10px;
}
<%-rootcss%> .xactions.secondarygrid {
	float:right;
	padding-right:10px;
  min-height:16px;
}
<%-rootcss%> .xactions.secondaryform {
	float:right;
	padding-right:10px;
  min-height:16px;
  padding-bottom:0px;
  position:relative;
  top:-5px;
}
<%-rootcss%> .xactions a,
<%-rootcss%> .xactions a:visited {
	display:inline-block;
	color:#000000;
	text-decoration:none;
	margin-left:15px;
}
<%-rootcss%> .xactions a.first,
<%-rootcss%> .xactions a.first:visited {
  margin-left:0px;
}
<%-rootcss%> .xactions .xactions_dropdown {
  border:1px solid #bababa;
  display:inline-block;
  padding:5px 10px 4px 14px;
}
<%-rootcss%> .xactions .xactions_dropdown .down_arrow {
  vertical-align:top;
  position:relative;
  top:2px;
  padding-left:9px;
  padding-right:0px;
  font-size:14px;
  color:#333;
}
<%-rootcss%> .xactions .xactions_dropdown:hover {
  border:1px solid #bababa;
  text-decoration:none;
}
<%-rootcss%> .xactions a:hover {
	text-decoration:underline;
}
<%-rootcss%> .xactions a img {
	position:relative;
	top:5px;
	padding-right:6px;
}
<%-rootcss%> .xactions a.navbar {
	margin-left:0;
}
<%-rootcss%> .xactions .navtext {
	display:inline-block;
	padding-right:6px;
}
<%-rootcss%> .xactions_spacer {
  width:1px;
  height:1px;
  display:inline-block;
}
<%-rootcss%> .xtbl {
	border-spacing:0px;
	position:relative;
	border-collapse: collapse;
	clear:both;
}
<%-rootcss%> .xtbl th.sortAsc a {
	padding-right:20px;
	background-image:url('<%-req.jshsite.publicurl%>images/arrow_up.png');
	background-position:100% 6px;
	background-repeat: no-repeat;
}
<%-rootcss%> .xtbl th.sortAsc a:hover {
/*	background-image:url('<%-req.jshsite.publicurl%>images/arrow_up_over.png');*/
}
<%-rootcss%> .xtbl th.sortDesc a {
	padding-right:20px;
	background-image:url('<%-req.jshsite.publicurl%>images/arrow_down.png');
	background-position:100% 6px;
	background-repeat: no-repeat;
}
<%-rootcss%> .xtbl th.sortDesc a:hover {
/*	background-image:url('<%-req.jshsite.publicurl%>images/arrow_down_over.png');*/
}
<%-rootcss%> .xtbl td.xtbl_noresults {
	padding-top:5px;
	padding-bottom:5px;
}
<%-rootcss%> .xtbl td.xtbl_noresults a,<%-rootcss%> .xtbl td.xtbl_noresults a:visited {
  color:#000000;
}
<%-rootcss%> .xtbl .xtbl_loadmore td {
	border-bottom:none;
	border-right:none;
	border-left:none;
	padding:4px 0 0 1px;
}
<%-rootcss%> a.xtab,<%-rootcss%> a.xtab:visited{
	display:inline-block;
}
<%-rootcss%> .xtabcontrol {
	display:block;
}
<%-rootcss%> .xform_caption {
  display:inline-block;
	padding-left:0px;
	padding-right:5px;
}
<%-rootcss%> .xform_caption_textarea,
<%-rootcss%> .xform_caption_htmlarea {
  vertical-align:top;
  padding-top:6px;
}
<%-rootcss%> .xform_label,<%-rootcss%> .xform_html {
  display:inline-block;
}
<%-rootcss%> .xtbl td .xform_label,<%-rootcss%> .xtbl td .xform_html {
  display:inline-block;
}
<%-rootcss%> .xform_file_upload { display:inline-block; }
<%-rootcss%> .xform_file_upload .linkbutton { white-space:nowrap; }
<%-rootcss%> .xform_file_upload .linkbutton img { padding-left:0px; }
<%-rootcss%> .xform_file_upload .xform_file_download_button { padding-right:25px; }
<%-rootcss%> .xform_file_upload .xform_file_preview_button { padding-right:25px; }
<%-rootcss%> .xform_file_upload .xform_file_upload_button { padding-right:25px; }
<%-rootcss%> .xform_file_upload .xform_file_thumbnail { display:block; padding-top:15px; padding-bottom:5px; }
<%-rootcss%> .xform_file_upload .xform_file_delete_button {  }
<%-rootcss%> .xform_file_upload.nodocument .xform_file_download_button { display:none; }
<%-rootcss%> .xform_file_upload.nodocument .xform_file_preview_button { display:none; }
<%-rootcss%> .xform_file_upload.nodocument .xform_file_delete_button { display:none; }
<%-rootcss%> .xform_file_upload.nodocument .xform_file_thumbnail { display:none; }
<%-rootcss%> .xform_file_upload.uneditable .xform_file_upload_button { display:none; }
<%-rootcss%> .xform_file_upload.uneditable .xform_file_delete_button { display:none; }
<%-rootcss%> .xform_file_download { display:inline-block; }
<%-rootcss%> .xform_file_download .linkbutton { white-space:nowrap; }
<%-rootcss%> .xform_file_download .linkbutton img { padding-left:0px; }
<%-rootcss%> .xform_file_download .xform_file_download_button { padding-right:25px; }
<%-rootcss%> .xform_file_download.nodocument .xform_file_download_button { display:none; }
<%-rootcss%> .xform .xform_label,
<%-rootcss%> .xform input,
<%-rootcss%> .xform select,
<%-rootcss%> .xform textarea {
  margin:2px 10px 2px 0;
}
<%-rootcss%> .xform_ctrl_textarea {
  width:400px;
  height:50px;
}
<%-rootcss%> .xform_ctrl_htmlarea {
  width:770px;
  height:300px;
}
<%-rootcss%> .xform_ctrl_button {
  padding:1px 6px;
}
<%-rootcss%> .xtbl td input,
<%-rootcss%> .xtbl td textarea {
  margin:0;
}
<%-rootcss%> .xtbl tbody td textarea {
  vertical-align:top;
}
<%-rootcss%> .xgrid_action {
  position:relative;
  top:2px;
}
<%-rootcss%> .xtbl td.xcheckbox_column {
  text-align:center;
}
<%-rootcss%> .xicon {
  display:block;
  margin:0 auto;
  text-align:center;
  height:16px;
  position:relative;
  top:2px;
}
<%-rootcss%> .xform_ctrl_textzoom {
  height:17px;
  display:inline-block;
  vertical-align:top;
  resize: none;
}
<%-rootcss%> .xform_ctrl_textzoom_container {
  white-space:nowrap;
  display:inline-block;
  vertical-align:top;
}
<%-rootcss%> .xpopuplov_column {
  white-space:nowrap;
}
<%-rootcss%> .xinputerror {
	border: 2px solid red !important;
}
<%-rootcss%> .xnorecords {
	text-align:center;
	position:relative;
	height:0px;
}
<%-rootcss%> .xnorecords a,<%-rootcss%> .xnorecords a:visited {
  color:#000;
}
<%-rootcss%> .xnorecords a img {
  position:relative;
  top:4px;
  padding-right:8px;
}
<%-rootcss%> input.updated, 
<%-rootcss%> select.updated, 
<%-rootcss%> textarea.updated,
<%-rootcss%> input.uneditable.updated, 
<%-rootcss%> select.uneditable.updated, 
<%-rootcss%> textarea.uneditable.updated,
<%-rootcss%> .xform_label.updated,
<%-rootcss%> .xform_html.updated
{
	background-color:#faf8c2;
}
<%-rootcss%> .checkbox_container {
  display:inline-block;
  padding:4px;
}
<%-rootcss%> .checkbox_container.updated {
  padding:3px;
  background-color:#faf8c2;
  border:1px dashed #aaa;
}
<%-rootcss%> input.uneditable,
<%-rootcss%> select.uneditable,
<%-rootcss%> textarea.uneditable {
	background-color:#f0f0f0;
	border:1px solid #aaa;
	color:#000;
}
<%-rootcss%> .xcrumbs {
	font-size:12px;
	color:#888888;
	margin-bottom:12px;
	margin-top:-8px;
}
<%-rootcss%> .xcrumbs a {
	color:#888888;
}
<%-rootcss%> h1.xtitle {
  position:relative;
  top:2px;
}
<%-rootcss%> h1.xtitlecaption {
  padding-left:9px;
  display:none;
}
<%-rootcss%> .xtitlecaption a{
  color:#888;
}
<%-rootcss%> .xtitlecaption a:hover{
  text-decoration:none;
}
<%-rootcss%> .xsearch {
  padding-bottom:11px;
  font-size:13px;
  display:none;
  overflow:hidden;
  white-space:nowrap;
  min-width:500px;
  clear:both;
}
<%-rootcss%> .xsearch div {
  padding-bottom:2px;
}
<%-rootcss%> .xsearch a {
  display:inline-block;
  color:#000000;
}
<%-rootcss%> .xsearch a img {
  position:relative;
  top:5px;
  padding-left:8px;
  padding-right:8px;
}
<%-rootcss%> .xrowcount {
  float:right;
  clear:right;
  display:none;
}
<%-rootcss%> a.linkbutton,<%-rootcss%> a.linkbutton:visited {
  display:inline-block;
  color:#000000;
}
<%-rootcss%> a.linkbutton img {
  position:relative;
  top:5px;
  padding-left:5px;
  padding-right:5px;
}
<%-rootcss%> .colorbox_inline {
	background-color:white;
	width:400px;
	padding-top:15px;
	padding-bottom:15px;
}
<%-rootcss%> .xform_ctrl.tree {
  display:inline-block;
  border:1px solid #aaa;
  width:200px;
  height:150px;
  padding:4px 4px;
  overflow:auto;
  vertical-align:top;
}
<%-rootcss%> .xform_ctrl.tree a.tree_item {
  display:block;
  color:#000;
  border:1px solid #fff;
  padding-left:4px;
}
<%-rootcss%> .xform_ctrl.tree.uneditable a.tree_item:hover {
  text-decoration:none;
  cursor:default;
}
<%-rootcss%> .xform_ctrl.tree.editable a.tree_item:hover {
  background-color:#f5f5ff;
  border:1px solid #ccccff;
  text-decoration:none;
}
<%-rootcss%> .xform_ctrl.tree .children {
  padding-left:19px;
  display:none;
}
<%-rootcss%> .xform_ctrl.tree .children.expanded {
  display:block;
}
<%-rootcss%> .xform_ctrl.tree a.tree_item.nochildren {
  padding-left:17px; /* Glyph + Standard Padding */
}
<%-rootcss%> .xform_ctrl.tree a.tree_item.selected {
  font-weight:bold;
  background-color:#f5f5f5;
  border:1px solid #ddd;
}
<%-rootcss%> .xform_ctrl.tree .nochildren .glyph {
  display:none;
}
<%-rootcss%> .xform_ctrl.tree .glyph {
  display:inline-block;
  width:13px;
  color:#aaa;
  cursor:pointer;
  cursor:hand;
}
<%-rootcss%> .xform_ctrl.tree.editable a.tree_item:hover .glyph {
  color:#aaccff;
}
<%-rootcss%> .xform_ctrl.tree .icon {
  position:relative;
  top:4px;
  padding-left:1px;
  padding-right:5px;
  border:0;
}
<%-rootcss%> .xform_ctrl.checkbox {
  position:relative;
  top:2px;
}
<%-rootcss%> .xtbl .xform_ctrl.checkbox {
  top:2px;
}
<%-rootcss%> .xform .xform_ctrl.checkbox {
  margin-right: 0px;
}
<%-rootcss%> .xform .checkbox_container {
  margin-right: 10px;
}
<%-rootcss%> .xlookup.icon, 
<%-rootcss%> .xtextzoom.icon {
  position:relative;
  top:4px;
  left:-3px;
  margin-right:7px;
}
<%-rootcss%> .xform .xlookup.icon, 
<%-rootcss%> .xform .xtextzoom.icon {
  top:6px;
}
<%-rootcss%> .xrow .xlookup.icon,
<%-rootcss%> .xrow .xtextzoom.icon {
  left:-1px;
  margin-right:0px;
  margin-left:7px;
}
<%-rootcss%> .xpopup .xpanel {
  overflow:auto;
  height:400px;
}
<%-rootcss%> .xcontext_menu {
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  border-bottom:1px solid #bababa;
}
<%-rootcss%> .xcontext_menu a,
<%-rootcss%> .xcontext_menu a:visited {
  display:block;
  border-top :1px solid #bababa;
  border-right :1px solid #bababa;
  border-left :1px solid #bababa;
  background-color:#ffffff;
  padding:5px 20px 4px 30px;
  z-index:999;
  color:#000;
  position:relative;
  cursor:pointer; cursor:hand;
}
<%-rootcss%> .xcontext_menu img {
  height:12px;
  width:auto;
  position:absolute;
  top:7px;
  left:9px;
}
<%-rootcss%> .xcontext_menu a:hover 
{
  background-color:#ecf0f6;
  text-decoration:none;
}
<%-rootcss%> .tdhidden { display:none; }
<%-rootcss%> .xform.onecolumn .xform_caption.leading { white-space:nowrap; }
<%-rootcss%> .xsubform {
  margin-top:5px;
}

/*
===============
CUSTOM CONTROLS
===============
*/

<%-rootcss%> .xdate_mmddyy {
	width:86px;
}
<%-rootcss%> .xtstmp {
	width:120px;
}
<%-rootcss%> .xdropdown_VS {
	width:50px;
}
<%-rootcss%> .xdropdown_S {
	width:125px;
}
<%-rootcss%> .xdropdown_M{
	width:240px;
}
<%-rootcss%> .xdropdown_L{
	width:400px;
}
<%-rootcss%> .xdropdown_VL{
	width:615px;
}
/*
	width:597px;
*/	
<%-rootcss%> .xlabel_VS {
	width:43px;
}
<%-rootcss%> .xlabel_S {
	width:117px;
}
<%-rootcss%> .xlabel_M {
	width:233px;
}
<%-rootcss%> .xlabel_L {
	width:392px;
}
<%-rootcss%> .xlabel_VL {
	width:590px;
}
<%-rootcss%> .xlabel_h1 {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:24px;
	padding:0 0 19px 0;
}
<%-rootcss%> .xlabel_h2 {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:19px;
	padding:0 0 15px 0;
	font-weight:bold;
}
<%-rootcss%> .xlabel_h3 {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:16px;
	padding:0 0 11px 0;
	font-weight:bold;
}
<%-rootcss%> .xlabel_h4 {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:14px;
	padding:0 0 8px 0;
	font-weight:bold;
}
<%-rootcss%> .xlabel_h5 {
	font-family: 'PT Sans', arial, helvetica, sans-serif;
	color:#252525;
	font-size:12px;
	padding:0 0 8px 0;
	font-weight:bold;
}
<%-rootcss%> .xlabel_h6 {
  font-family: 'PT Sans', arial, helvetica, sans-serif;
  color:#252525;
	font-size:10px;
	padding:0 0 6px 0;
  font-weight:bold;
}
<%-rootcss%> .xlabel_notification {
  display:block;
  border-radius:5px;
  padding:10px 15px;
  background-color:#ddeedd;
  margin:10px 0;
}
<%-rootcss%> .xtextbox_VS {
	width:43px;
}
<%-rootcss%> .xtextbox_S {
	width:117px;
}
<%-rootcss%> .xtextbox_M {
	width:233px;
}
<%-rootcss%> .xtextbox_L {
	width:392px;
}
<%-rootcss%> .xtextbox_VL {
	width:608px;
}
/*
	width:590px;
*/	
<%-rootcss%> .xtextbox_email {
	width:392px;
}
<%-rootcss%> .xtextbox_decimal {
	width:200px;
}
<%-rootcss%> .xtextbox_mmddyy,
<%-rootcss%> .xtextbox_hhmmss {
	width:80px;
}
<%-rootcss%> .xtextbox_phone {
	width:117px;
}
<%-rootcss%> .xtextbox_tstmp {
	width:105px;
}
<%-rootcss%> .xtextbox_tstmp7 {
	width:185px;
}
<%-rootcss%> .xtextbox_tstmp7z {
	width:220px;
}
<%-rootcss%> .xtextarea_M {
	width:590px;
	height:120px;
}
<%-rootcss%> .xtextarea_caption {
	vertical-align:top;
	padding-top:4px;
}
<%-rootcss%> .xcaption_2 {
	width:120px;
	text-align:right;
}

/*
=================
LOADING ANIMATION
=================
*/
<%-rootcss%> .xloadingblock {
	display:none;
	position:fixed;
	top:122px;
	width:100%;
	bottom:0;
	z-index:99999;
	text-align:center;
}
<%-(rootcss||'body')%>.popup .xloadingblock { top:0px; }
<%-rootcss%> .xloadingblock div {
	position:absolute;
	top:50%;
	left:50%;
}
<%-rootcss%> .xloadingblock div .xloadingbox {
	display:none;
	background-color:white;
	border:3px solid #aaa;
	display:block;
	text-align:center;
	width:170px;
	height:80px;
	position:absolute;
	top:-50px;
	left:-100px;
	padding-top:20px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
/*	color:#34231f;*/
	color:#454545;
	opacity:0.8;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
/*<%-rootcss%> .uie8 .xloadingblock div .xloadingbox { font-family: 'Open Sans Bold', sans-serif; }*/
<%-rootcss%> .xloadingbox img {
	padding-top:18px;
}
/*
============
DIALOG BOXES
============
*/
<%-rootcss%> .xdebugconsole .resizer{
  background-color: #aaa;
}
<%-rootcss%> .xdebugconsole .res-ns{
  cursor: row-resize;
  height: 3px;
}
<%-rootcss%> .xdebugconsole .res-ew{
  display: inline-block;
  cursor: col-resize;
  height: 100%;
  width: 3px;
  float: left;
}
<%-rootcss%> .xdebuginfo {
  position:absolute;
  top:0px;
  left:0px;
  color:#c2ffb8;
  background-color:rgba(0,0,0,0.5);
  z-index:200000;
}
<%-rootcss%> .xdebugconsole.visible::before{
  content:'';
  display:block;
  height: 300px;
}
<%-rootcss%> .xdebugconsole .debug-panel {
  display:none;
  position: fixed;
  height: 300px;
  width: 100%;
  z-index:1;
  border-bottom: 3px solid #aaa;
  background-color: #fff;
}
<%-rootcss%> .xdebugconsole.bottom .debug-panel {
  bottom: 0;
  right: 0;
}
<%-rootcss%> .xdebugconsole.right .debug-panel {
  width: 600px;
  bottom: 0;
  right: 0;
}
<%-rootcss%> .xdebugconsole.bottom .res-ew, .xdebugconsole.bottom .pos-bottom, .xdebugconsole.right .pos-right {
  display: none;
}
<%-rootcss%> .xdebugconsole header{
  padding: 5px 29px;
  height: 25px;
  line-height: 1.1em;
  font-size: 1.8em;
  background-color: #e1e1e1;
  border-bottom: 1px solid #aaa;
  cursor: auto;
}
<%-rootcss%> .xdebugconsole .controls{
  float: right;
  display: inline-block;
}
<%-rootcss%> .xdebugconsole .debug-settings{
  padding: 5px 29px;
  border-bottom: 1px solid #aaa;
  display: none;
  position: relative;
  z-index: 1;
  background-color: #fff;
}
<%-rootcss%> .xdebugconsole.right .debug-settings{
  margin-left: 3px;
}
<%-rootcss%> .xdebugconsole .debug-settings label{
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 3px;
}
<%-rootcss%> .xdebugconsole .info-message{
  padding: 2px 29px;
  border-bottom: 1px solid #999;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 26px;
}
<%-rootcss%> .xdebugconsole .controls i {
  cursor: pointer;
}
<%-rootcss%> .xdebugconsole .xdebuginfo-body {
  position: fixed;
  height: 264px;
  overflow: auto;
  width: 100%;
}
<%-rootcss%> .xdebugconsole.visible.right .xdebuginfo-body {
  width: 600px;
  margin-left: 3px;
  word-break: break-word;
}
<%-rootcss%> .xdebugconsole .debug-panel-minimized{
  position: fixed;
  bottom: 0;
  right: 0;
}
<%-rootcss%> .xdialogblock {
	position:fixed;
	top:0px;
	width:100%;
	bottom:0;
  left:0px;
	z-index:199999;
	text-align:center;
  background-color:rgba(0,0,0,0.1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
<%-rootcss%> .xdialogblock .xdialogbox {
  display:none;
	position:absolute;
	top:50%;
	left:50%;
  /*transform: translate(-50%, -50%);*/
	background-color:white;
	border:3px solid #aaa;
	font-size:15px;
	font-weight:bold;
	color:#505050;
  padding:20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
<%-rootcss%> .xalertbox {
	width:370px;
	min-height:60px;
	text-align:left;
}
<%-rootcss%> .xconfirmbox {
	width:370px;
	min-height:60px;
	text-align:center;
}
<%-rootcss%> .xpromptbox {
	width:310px;
	min-height:60px;
	text-align:left;
}
<%-rootcss%> .xtextzoombox {
	width:510px;
	min-height:60px;
	text-align:left;
}
<%-rootcss%> .xalertmessage,
<%-rootcss%> .xconfirmmessage,
<%-rootcss%> .xpromptmessage {
  max-height: 400px;
  overflow:auto;
}
<%-rootcss%> .xalertbox input,
<%-rootcss%> .xconfirmbox input,
<%-rootcss%> .xdialogbox input.button_ok,
<%-rootcss%> .xdialogbox input.button_no,
<%-rootcss%> .xdialogbox input.button_cancel {
  margin: 20px 0 0px 0;
  padding:4px 15px;
}
<%-rootcss%> .xpromptfield {
  margin: 20px 0 0px 0;
  width:100%;
}
<%-rootcss%> .xtextzoomfield {
  margin: 20px 0 0px 0;
  width:100%;
  height:300px;
}
<%-rootcss%> .xdialogbox h3 {
  margin-top:5px;
  margin-bottom:5px;
}

<%-rootcss%> .xform_inputbutton { padding:3px 10px; }
<%-rootcss%> .xsubmenu_listing { padding-top:4px; }
<%-rootcss%> .xsubmenu_listing a {
  display:inline-block;
  padding-top:8px;
  font-size:15px;
}

<%-rootcss%> .formerror {
	background-color: red;
	color: white;
}

<%-rootcss%> .validatorErrors {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
 	margin-bottom: 20px;
	background-color: #f0f0f0;
}

<%-rootcss%> .validatorErrors h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

<%-rootcss%> .validatorErrors ul li {
	font-size: 12px;
	list-style: square;
}

<%-rootcss%> .notification {
  font-weight: bold;
  color: green;
}

<%-rootcss%> .page {
	width: 600px;
}

<%-rootcss%> .adminmenu {
	border: 1px solid black;
}

/*
==================
NOTIFICATION BOXES
==================
*/
<%-rootcss%> .fieldWithErrors {
  padding: 2px;
  background-color: red;
  /*display: table;*/
}
<%-rootcss%> .errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
<%-rootcss%> .errorExplanation h2 {
  text-align: left;
  font-weight: bold;
	text-decoration:none;
  padding: 5px 5px 5px 15px;
  font-size: 16px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
<%-rootcss%> .uie8 .errorExplanation h2 { font-family: 'Open Sans Bold', sans-serif; }
<%-rootcss%> .errorExplanation p {
	margin-top:10px;
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}
<%-rootcss%> .errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
<%-rootcss%> .notification {
  font-weight: bold;
  color: #55832C;
}
<%-rootcss%> .uie8 .notification { font-family: 'Open Sans Bold', sans-serif; }

/*
================
PRINT STYLESHEET
================
*/
@media print {
  <%-rootcss%> .xactions { display:none !important; visibility:hidden !important; }
  <%-rootcss%> .xhead { display:none; }
  <%-rootcss%> .xbody,
  <%-rootcss%> .xmain { display:block !important; }
}