<% if(rslt){ %><%-ejsext.DisplayInfo(rslt)%><% } else { %>
<div>
<div style="padding-bottom:10px;">Please enter your new password below.</div>
<%-ejsext.DisplayErrors(verrors)%>
<form method="post" id="mlogin">
  <table>
    <tr>
      <td align="right">New Password:</td>
      <td align="left"><input type="password" style="width:150px;" id="password" name="password" /></td>
    </tr>
    <tr>
      <td align="right">Confirm Password:</td>
      <td align="left"><input type="password" style="width:150px;" id="confirm_password" name="confirm_password" /></td>
    </tr>
    <tr>
      <td></td>
      <td align="left"><input type="submit" class="button" value="Reset Password" /></td>
    </tr>
  </table>
</form>
<script type="text/javascript">
jsHarmony.jQuery(document).ready(function() {
  jsHarmony.jQuery("#password").focus().addClass('inputfocus');

  jQuery('input')
    .bind('focus', function() {
      jsHarmony.jQuery(this).addClass('inputfocus');
    }).bind('blur', function() {
      jsHarmony.jQuery(this).removeClass('inputfocus');
    });
});
</script>
<style type="text/css">
.inputfocus
{
    border-width: 2px;
    border-color: Blue;
    border-style: solid;
}
</style>
</div>
<% } %>