<div class="xdialogblock" style="display:none;">
<div class="xdialogbox xalertbox"><div class="xalertmessage"></div><div align="center"><input type="button" value="OK" /></div></div>
<div class="xdialogbox xconfirmbox"><div class="xconfirmmessage"></div><div align="center"><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="No" class="button_no" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
<div class="xdialogbox xpromptbox"><div class="xpromptmessage"></div><div align="right"><input class="xpromptfield" type="text"><br/><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
<div class="xdialogbox xtextzoombox"><div class="xtextzoommessage"></div><div align="right"><textarea class="xtextzoomfield"></textarea><input type="button" value="OK" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div></div>
</div>
<div class="xdebuginfo"></div>
<div class="xdebugconsole">
  <div id="debug-panel">
    <div class="resizer res-ew"></div>
    <div class="resizer res-ns"></div>
    <header>Debug Info
      <div class="controls"><i class="material-icons" data-action="minimize" title="minimize">&#xe313;</i><i class="material-icons pos-right" data-action="pos-right" title="dock to right">&#xe31c;</i><i class="material-icons pos-bottom" data-action="pos-bottom" title="dock to bottom">&#xe258;</i><i class="material-icons" data-action="settings" title="settings">&#xe8b8;</i><i class="material-icons" data-action="close" title="close">&#xe5cd;</i></div>
    </header>
    <div class="debug-settings"><legend>Please select debug info source.</legend></div>
    <div class="xdebuginfo-body"></div>
  </div>
  <div id="debug-panel-minimized" style="display: none;">
    <div class="controls"><i class="material-icons" data-action="expand">&#xe895;</i></div>
  </div>
</div>
<div class="xloadingblock" style="display:none;"><div><div class="xloadingbox">Loading<br/><img src="/images/loading.gif" alt="Loading" title="Loading" /></div></div></div>
