@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('PT-Sans-Regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('PT-Sans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('PT-Sans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('PT-Sans-Regular.woff') format('woff'), /* Modern Browsers */
       url('PT-Sans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('PT-Sans-Regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Roboto-Regular.woff') format('woff'), /* Modern Browsers */
       url('Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('Roboto-Regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('Material-Icons-Regular.eot'); /* IE9 Compat Modes */
  src: local('Material Icons'), local('Material-Icons-Regular'),
    url('Material-Icons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Material-Icons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('Material-Icons-Regular.woff') format('woff'), /* Modern Browsers */
    url('Material-Icons-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Material-Icons-Regular.svg#MaterialIcons') format('svg'); /* Legacy iOS */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}